#dashboard
  .grid
    .col.mobile-3
      .xxx
        %span.icon-galleries
        %h3.count-up 35234
        %p Visits
    .col.mobile-3
      .xxx
        %span.icon-slide
        %h3.count-up 19589
        %p Unique Visitors
    .col.mobile-3
      .xxx
        %span.icon-logs
        %h3.count-up 174585
        %p Page views
    .col.mobile-3
      .xxx
        %span.icon-articles
        %h3.count-up 1152
        %p Total Articles

  .grid
    .col.mobile-12
      .xxx
        #aaa{ style: "height: 400px" }

  .grid
    .col.mobile-6
      .xxx
        #browser{ style: "height: 220px" }
    .col.mobile-6
      .xxx
        #device{ style: "height: 220px" }
