<!--
========== FOOTER ========== --!>
%footer
  .container
    .grid
      .col.mobile-12.tablet-12.pc-7
        %h3 G-News
        %p.hide-on-tablet-and-down Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        %p.hide-on-pc-and-up Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        .social.hide-on-tablet-and-down
          %span
            %a{ href: "#", class: "icon-facebook" }
          %span
            %a{ href: "#", class: "icon-twitter" }
          %span
            %a{ href: "#", class: "icon-pinterest" }
          %span
            %a{ href: "#", class: "icon-googleplus" }
      .col.mobile-12.tablet-12.pc-5
        %h3.hide-on-tablet-and-down Liên hệ
        %p.icon-telephone 01.2345.6789
        %p.icon-email info@gnews.com
        %p.icon-location Lorem Ipsum is simply dummy text of the printing and typesetting industry
  %p.copyright.align-center © 2016 G-News. All rights reserved.