<!--
========== HEADER ========== --!>
%header
  .container
    %nav
      = link_to root_path, class: "brand" do
        = image_tag "logo-white.png"
      = menu
      %button.side-nav-btn.icon-menu{ data: { target: "side-nav" } }
.header-space
